.random-planet {
	display: flex;
	padding: 1rem;
	border-radius: 10px;
}

.random-planet .planet-image {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

h4 {
	padding: 0px 0px 0px 30px;
}


.list-group-flush {
	margin: 0px 0px 0px 10px;
}