@keyframes ldio-sr0z3jac6ut {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
 }
 .ldio-sr0z3jac6ut div { box-sizing: border-box!important }
 .ldio-sr0z3jac6ut > div {
	position: absolute;
	width: 62.63999999999999px;
	height: 62.63999999999999px;
	top: 26.68px;
	left: 26.68px;
	border-radius: 50%;
	border: 9.28px solid #000;
	border-color: #746f55 transparent #746f55 transparent;
	animation: ldio-sr0z3jac6ut 1.8867924528301885s linear infinite;
 }
 
 .ldio-sr0z3jac6ut > div:nth-child(2), .ldio-sr0z3jac6ut > div:nth-child(4) {
	width: 41.76px;
	height: 41.76px;
	top: 37.12px;
	left: 37.12px;
	animation: ldio-sr0z3jac6ut 1.8867924528301885s linear infinite reverse;
 }
 .ldio-sr0z3jac6ut > div:nth-child(2) {
	border-color: transparent #5699d2 transparent #5699d2
 }
 .ldio-sr0z3jac6ut > div:nth-child(3) { border-color: transparent }
 .ldio-sr0z3jac6ut > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
 }
 .ldio-sr0z3jac6ut > div:nth-child(3) div:before, .ldio-sr0z3jac6ut > div:nth-child(3) div:after { 
	content: "";
	display: block;
	position: absolute;
	width: 9.28px;
	height: 9.28px;
	top: -9.28px;
	left: 17.4px;
	background: #746f55;
	border-radius: 50%;
	box-shadow: 0 53.36px 0 0 #746f55;
 }
 .ldio-sr0z3jac6ut > div:nth-child(3) div:after {
	left: -9.28px;
	top: 17.4px;
	box-shadow: 53.36px 0 0 0 #746f55;
 }
 
 .ldio-sr0z3jac6ut > div:nth-child(4) { border-color: transparent; }
 .ldio-sr0z3jac6ut > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
 }
 .ldio-sr0z3jac6ut > div:nth-child(4) div:before, .ldio-sr0z3jac6ut > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 9.28px;
	height: 9.28px;
	top: -9.28px;
	left: 6.959999999999999px;
	background: #5699d2;
	border-radius: 50%;
	box-shadow: 0 32.48px 0 0 #5699d2;
 }
 .ldio-sr0z3jac6ut > div:nth-child(4) div:after {
	left: -9.28px;
	top: 6.959999999999999px;
	box-shadow: 32.48px 0 0 0 #5699d2;
 }
 .loadingio-spinner-double-ring-a73a7uo193j {
	width: 100%;
	height: 116px;
	
	
 }
 .ldio-sr0z3jac6ut {
	width: 20%;
	height: 100%;
	margin: 0 auto;
	
	
	transform: translateZ(0) scale(1);
	 /* see note above */
 }
 .ldio-sr0z3jac6ut div { box-sizing: content-box; }