a {
	text-decoration: none;
}


.header {
	margin-top: 0.5rem;
	padding-left: 10px;
}


.header ul li {
	list-style: none;
	margin: 0;
	padding: .5rem 1rem;
	border-radius: 3px;
}



.header ul li:hover {
	background-color: #444;
}

