.error-indicator {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: orange;
}

.boom {
	font-size: 25px;
	color: red;

}

img {
	width: 64px;
	height: 64px;
}

